NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=  # required for wallet connections - get Project ID from WalletConnect Cloud (https://cloud.walletconnect.com/)

# Website Configuration
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
NEXT_PUBLIC_WEBSITE_DESCRIPTION="FairFund is a blockchain based platform for community-driven funding. Users can deploy funding vaults, deposit funds, and submit proposals for funding. The platform uses a voting mechanism to decide which proposals receive funding."

# Authentication Configuration
NEXTAUTH_SECRET="generate_your_secret_here" # Generate using: openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000

# Blockchain Configuration
NEXT_PUBLIC_NETWORK=foundry
NEXT_PUBLIC_SIGN_IN_STATEMENT="SignIn to FairFund."

# Database Configuration
POSTGRES_PRISMA_URL="postgresql://username:password@host:5432/database_name"
POSTGRES_URL_NON_POOLING="postgresql://username:password@host:5432/database_name"

# RPC URLs for different testnets
NEXT_PUBLIC_POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR-PROJECT-ID
NEXT_PUBLIC_GOERLI_RPC_URL=https://goerli.infura.io/v3/YOUR-PROJECT-ID
NEXT_PUBLIC_MILKOMEDA_TESTNET_RPC_URL=https://rpc-devnet-cardano-evm.c1.milkomeda.com

